temp/
npm-debug.log
node_modules/
package-lock.json
public/output
public/uploads
debug/
testModel.json
run.js
MongoDB/
database_backups/
data/StandAloneToolKit/output/
tempRepoIDStore
data/577 Projects/test/
.DS_Store
package-lock.json
data/577 projects/2014-2015/test/
data/ReverseEngineering/debug/
data/RufusLabs/debug/
data/OpenSource/debug/
tempRepoIDStore
config.js
public/.DS_Store
.DS_Store
facility-tools/Android-toolkit/output/
facility-tools/Android-tools/
database/
data/
.idea/
.metadata/
.settings/
sootOutput/
.vs/