temp/
npm-debug.log
node_modules/
package-lock.json
public/output
public/uploads
debug/
testModel.json
run.js
MongoDB/
database_backups/
tempRepoIDStore
.DS_Store
package-lock.json
tempRepoIDStore
config.js
public/.DS_Store
.DS_Store
facility-tools/Android-toolkit/output/
facility-tools/Android-tools/
database/
data/
.idea/
.metadata/
.settings/
sootOutput/
.vs/
.tools/