ol(class="breadcrumb", style="margin: 0; padding:0; background-color: white")
    if repoID
            a(href='/') 
                h3(style="display: inline-block; color: 17A2B8") Repo 
            h3(style="display: inline-block; margin-left: 5px")  / 
    if modelName && model_id
            a(href="/queryModelInfo?model_id="+model_id) 
                h3(style="display: inline-block; color: 17A2B8") #{modelName}
