ol(class="breadcrumb", style="margin: 0; padding:0")
    if repoID
        li(class="breadcrumb-item")
            a(href='/') Repo
    if modelName && model_id
        li(class="breadcrumb-item")
            a(class="model-title breadcrumb-link", href="/queryModelInfo?model_id="+model_id) #{modelName}
