html
  head
    title UMLx
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet') 
    link(href='css/style.css', rel='stylesheet')
    script.
        function showPage(pageNumer) {
            for (var i = 1; i <= 5; i++) {
                var classList = document.getElementById("page" + i).classList;
                if (i != pageNumer) {
                    classList.add("hidden");
                } else {
                    classList.remove("hidden");
                }
            }
        }
    
  body#upload-body
    .container.estimation_page_container
        form#project-effort-prediction-form.form-horizontal(novalidate='', onsubmit='return predict_project_effort_func()', method='post', action='/')
            #page1
                .alert.alert-info
                    | Technical Complexity Factor
                .form-group
                    label.control-label(for='distributed_system') Distributed System
                    select#distributed_system.form-control(name='distributed_system')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='response_time') Response time or throughput performance objectives
                    select#response_time.form-control(name='response_time')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='end_user_efficiency') End user efficiency
                    select#end_user_efficiency.form-control(name='end_user_efficiency')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='complex_internal_processing') Complex internal processing
                    select#complex_internal_processing.form-control(name='complex_internal_processing')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='code_must_be_reusable') Code must be reusable
                    select#code_must_be_reusable.form-control(name='code_must_be_reusable')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='easy_to_install') Easy to install
                    select#easy_to_install.form-control(name='easy_to_install')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='easy_to_use') Easy to use
                    select#easy_to_use.form-control(name='easy_to_use')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='portable') Portable
                    select#portable.form-control(name='portable')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='easy_to_change') Easy to change
                    select#easy_to_change.form-control(name='easy_to_change')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='concurrent') Concurrent
                    select#concurrent.form-control(name='concurrent')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='includes_special_security_objectives') Includes special security objectives
                    select#includes_special_security_objectives.form-control(name='includes_special_security_objectives')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='provides_direct_access_for_third_parties') Provides direct access for third parties
                    select#provides_direct_access_for_third_parties.form-control(name='provides_direct_access_for_third_parties')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='special_user_training_facilities_are_required') Special user training facilities are required
                    select#special_user_training_facilities_are_required.form-control(name='special_user_training_facilities_are_required')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5

                input#uuid-page1(type='hidden', name='uuid-page1', value='')
                
                .form-group
                    .col-sm-offset-2.col-xs-8
                        button.btn.btn-default.disabled.pull-left(type='button') < Previous
                        button.btn.btn-success.pull-right(type='button', onclick='showPage(2)') Next >
                
            // Page 2
            #page2.hidden
                .alert.alert-info
                    | Environmental Factors
                .form-group
                    label.control-label(for='familiar_with_the_project_model_that_is_used') Familiar with the project model that is used
                    select#familiar_with_the_project_model_that_is_used.form-control(name='familiar_with_the_project_model_that_is_used')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='application_experience') Application experience
                    select#application_experience.form-control(name='application_experience')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='object_oriented_experience') Object-oriented experience
                    select#object_oriented_experience.form-control(name='object_oriented_experience')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='lead_analyst_capability') Lead analyst capability
                    select#lead_analyst_capability.form-control(name='lead_analyst_capability')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='motivation') Motivation
                    select#motivation.form-control(name='motivation')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='stable_requirements') Stable requirements
                    select#stable_requirements.form-control(name='stable_requirements')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='part_time_staff') Part-time staff
                    select#part_time_staff.form-control(name='part_time_staff')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                .form-group
                    label.control-label(for='difficult_programming_language') Difficult programming language
                    select#difficult_programming_language.form-control(name='difficult_programming_language')
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5

                input#uuid-page2(type='hidden', name='uuid-page2', value='')
                .form-group
                    .col-sm-offset-2.col-xs-8
                        button.btn.btn-default.pull-left(type='button', onclick='showPage(1)') < Previous
                        button.btn.btn-success.pull-right(type='button', onclick='showPage(3)') Next > 
            // Page3
            #page3.hidden
                .alert.alert-info
                    | Project model file and documents
                .form-group
                    label.control-label.col-xs-4(for='uml_file') Model File (file types: xml are supported)
                    .col-xs-8
                        input#uml_file.form-control(type='file', name='uml_file', accept='text/xml')
                .form-group
                    label.control-label.col-xs-4(for='uml_other') Other Documents (file types: zip, rar, tar are supported)
                    .col-xs-8
                        input#uml_other.form-control(type='file', name='uml_other')

                input#uuid-page3(type='hidden', name='uuid-page3', value='')

                .form-group
                    .col-sm-offset-2.col-xs-8
                        button.btn.btn-default.pull-left(type='button', onclick='showPage(2)') < Previous
                        button.btn.btn-success.pull-right(type='button', onclick='showPage(4)') Next > 

            //Page 4
            #page4.hidden
                .alert.alert-info
                    | Select Estimator
                
                .form-group
                    label.control-label(for='estimator') Select Estimator
                    select#estimator.estimation-form-control(name='estimator')
                        option Linear Regression
                        option Ridge Regression
                        option Linear Spline
                        option Bayesian

                .form-group
                    label.control-label(for='model') Select Model
                    select#model.estimation-form-control(name='model')
                        option EUCP
                        option EXUCP
                        option DUCP

                input#uuid-page4(type='hidden', name='uuid-page4', value='')

                .form-group
                    .col-sm-offset-2.col-xs-8
                        button.btn.btn-default.pull-left(type='button', onclick='showPage(3)') < Previous
                        button.btn.btn-success.pull-right(type='submit', onclick='showPage(5)') Submit
            
            //page 5
            #page5.hidden
                .panel-group
                    .panel.panel-default
                        .panel-heading
                            h4.panel-title
                                | Estimation Results
                        #collapse1.panel-collapse
                            div(id="estimation-result-panel-body")
                
                input#uuid-page5(type='hidden', name='uuid-page5', value='')

        script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(type='text/javascript', src="https://code.highcharts.com/highcharts.src.js")
        script(type='text/javascript', src="https://code.highcharts.com/modules/histogram-bellcurve.js")
        script(type='text/javascript', src='js/scripts.js')
        script(type='text/javascript', src="js/charts.js")
