html
  head
    title UMLx
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    //link(href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    //script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js")
    script(type='text/javascript', src="https://code.highcharts.com/highcharts.src.js")
    script(type='text/javascript', src="http://d3js.org/d3.v4.min.js")
    script(type='text/javascript', src="js/scripts.js")
    
  body
   if message
    div.message-box
     p.message-text message:#{message}
   div.clear
   div(id='main-panel')
    include mainPanel
    // Modal
    #overlay-frame.modal.fade(role='dialog')
     .modal-dialog
        // Modal content
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') x
                h4.modal-title Modal Header
            .modal-body
                p Some text in the modal.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
    