html
  head
    title UMLx Invite User
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type='text/javascript', src="js/scripts.js")
    
  body.signUp
   div.clear
   div#mainDiv
    div#messageDiv
    div.panel.panel-default
     div.panel-body
      form(id='invite-form')
       label.formLabel Email
       br
       input.signUp(type='text', name='email', id='email')
       br
       input.btn.btn-primary.signUpButton(type='submit',value='Invite')

       