html
  head
    title UMLx SignUp
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(type='text/javascript', src="js/scripts.js")
    script(type='text/javascript', src="js/charts.js")
    
  body
  div.banner
            div.content-flex
                div.col-md-10.banner-title
                    a.home-button(href='/') UMLx

   div.clear
   div#mainDiv
    div#messageDiv
    div.panel.panel-default
     div.panel-body
      form(id='login-form')
       label.formLabel Username
       br
       input.signUp(type='text', name='username', id='username')
       label.formLabel Password
       br
       input.signUp(type='password', name='password', id='password')
       br
       input.btn.btn-dark.signUpButton(id='login-button', type='submit', value='Login')
       hr
       p.toggleLoginSignUp New user? 
        a(href='/signup', id='create-account') Create an account.
       
       