html
  head
    title UMLx
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')


  body#upload-body
    include bannerForSurvey
    .container
      h2  Project Survey
      form#model-file-submit-form.form-horizontal(novalidate='', method='post', action='/uploadSurveyData', enctype='multipart/form-data' )
        // Page1
        #page1
          .alert.alert-info Project Information
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='uml_model_name') Project Name
            .col-xs-8
              input#uml_model_name.form-control(type='text', placeholder='Project Name', name='uml_model_name')
          input#uml_model_type(type='hidden', name='uml_model_type', value='uml')
          input#repo_id(type='hidden', name='repo_id', value='598c93a9a9813b12105c953e')
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='project_desc') Project Description
            .col-xs-8
              textarea#project_desc.form-control(rows='5', name='project_desc', placeholder='Project description')
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='project_effort') Effort
            .col-xs-8
              input#project_effort.form-control(type='text', placeholder='Effort', name='project_effort')
              div
                p Please input the actual effort measurements in person hours in the formats, including, 1030PH, 1030, 1030 Person-Hours, etc.
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='project_duration') Duration
            .col-xs-8
              input#project_duration.form-control(type='text', placeholder='Duration', name='project_duration')
              div
                p Please input the actual duration of the project in the formats, including, 1 year 3 month, 1.3 year, 30 days, 14 months, etc.
<<<<<<< HEAD
          .form-group
            label.control-label.col-xs-4(for='project_personnel') Personnel
            .col-xs-8
              input#project_duration.form-control(type='text', placeholder='Personnel', name='project_personnel')
              div
                p Please input the actual personnel who contribute to the project, including managers, designers, developers, testers, and maintainers, in the formats, for example, 1 year 3 month, 1.3 year, 30 days, 14 months, etc.
          .form-group
            label.control-label.col-xs-4(for='project_year') Year
            .col-xs-8
              input#project_duration.form-control(type='text', placeholder='Year', name='project_year')
              div
                p Please input the year or the date when the project was started. If the year/date is not available, other approximations, for example, project end/implementation/delivery data/year.
          .form-group
            label.control-label.col-xs-4(for='development_type') Development Type
            .col-xs-8
              //label.control-label(for='development_type') Development Type
              //input#project_duration.form-control(type='text', placeholder='Development Type', name='development_type')
              select#distributed_system(name='development_type')
                option New Development
                option Echancement
                option Re-development
          .form-group
            label.control-label.col-xs-4(for='development_platform') Development Platform
            .col-xs-8
              //label.control-label(for='development_type') Development Type
              //input#project_duration.form-control(type='text', placeholder='Development Type', name='development_type')
              select#distributed_system(name='development_platform')
                option PC (Windows, Linux, Mac OS)
                option Web (cloud, web services, websites)
                option Mobile (android, ios, etc)
                option Embedded
                option Multi-Platforms
                option Other
          .form-group
            label.control-label.col-xs-4(for='application_type') Application Type
            .col-xs-8
              //input#project_duration.form-control(type='text', placeholder='Application Type', name='application_type')
              //label.control-label(for='application_type') Development Type
              select#distributed_system(name='application_type')
                option Information System
                option Tansaction / Production system
                option Process Control
                option Business Application
                option Real-time Application
                option Mathematically-intensive Application
                option Infrastructure Software
                option Other
          .form-group
            label.control-label.col-xs-4(for='programming_language') Programming Language
            .col-xs-8
              //input#project_duration.form-control(type='text', placeholder='Application Type', name='application_type')
              //label.control-label(for='application_type') Development Type
              select#distributed_system(name='programming_language')
                option JAVA
                option C++
                option PL/1
                option Natural
                option Cobol
                option Other
=======
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='project_personnel') Personnel
            .col-xs-8
              input#project_personnel.form-control(type='text', placeholder='Personnel', name='project_personnel')
              div
                p Please input the actual personnel who contribute to the project, including managers, designers, developers, testers, and maintainers, in the formats, for example, 1 year 3 month, 1.3 year, 30 days, 14 months, etc.
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='project_year') Year
            .col-xs-8
              input#project_year.form-control(type='text', placeholder='Year', name='project_year')
              div
                p Please input the year or the date when the project was started. If the year/date is not available, other approximations, for example, project end/implementation/delivery data/year.
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='development_type') Development Type
            .col-xs-8
              //label.control-label(for='development_type') Development Type
              //input#project_duration.form-control(type='text', placeholder='Development Type', name='development_type')
              select#development_type(name='development_type')
                option New Development
                option Echancement
                option Re-development
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='development_platform') Development Platform
            .col-xs-8
              //label.control-label(for='development_type') Development Type
              //input#project_duration.form-control(type='text', placeholder='Development Type', name='development_type')
              select#development_platform(name='development_platform')
                option PC (Windows, Linux, Mac OS)
                option Web (cloud, web services, websites)
                option Mobile (android, ios, etc)
                option Embedded
                option Multi-Platforms
                option Other
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='application_type') Application Type
            .col-xs-8
              //input#project_duration.form-control(type='text', placeholder='Application Type', name='application_type')
              //label.control-label(for='application_type') Development Type
              select#application_type(name='application_type')
                option Information System
                option Tansaction / Production system
                option Process Control
                option Business Application
                option Real-time Application
                option Mathematically-intensive Application
                option Infrastructure Software
                option Other
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='programming_language') Programming Language
            .col-xs-8
              //input#project_duration.form-control(type='text', placeholder='Application Type', name='application_type')
              //label.control-label(for='application_type') Development Type
              select#programming_language(name='programming_language')
                option JAVA
                option C++
                option PL/1
                option Natural
                option Cobol
                option Other
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='organization_name') Organization/Personal Name
            .col-xs-8
              input#organization_name.form-control(type='text', placeholder='Organization Name or Personal Name', name='organization_name')
          .form-group
<<<<<<< HEAD
            label.control-label.col-xs-4(for='organization_sector') Organization Sector
=======
            label.control-label(style='text-align:left').col-xs-4(for='organization_sector') Organization Sector
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            .col-xs-8
              //input#organization_name.form-control(type='text', placeholder='Organization Sector', name='organization_sector')
              // make it as a list Banking
              //label.control-label(for='application_type') Development Type
<<<<<<< HEAD
              select#distributed_system(name='organization_sector')
=======
              select#organization_sector(name='organization_sector')
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
                option Communication
                option Construction
                option Defence & Aerospace
                option Education
                option Electronics & Computers
                option Energy Sources
                option Environment & Waste
                option Financial
                option Government
                option Insurance
                option Manufacturing
                option Medical & Health Care
                option Mining
                option Professional Services
                option Service Industry
                option Tourism
                option Utilities
                option Wholesale & Retail
          .form-group
<<<<<<< HEAD
            label.control-label.col-xs-4(for='email') Contact Email
=======
            label.control-label(style='text-align:left').col-xs-4(for='email') Contact Email
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            .col-xs-8
              input#email.form-control(type='text', placeholder='Contact Email', name='email')
          input#uuid_page1(type='hidden', name='uuid_page1', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.disabled.pull-left(type='button') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(2)') Next >
        // Page 2
        #page2.hidden
          .alert.alert-info Technical Complexity Factor
          div
<<<<<<< HEAD
           p Please provide the ratings for the 13 technical technical factors, which are the techical rerquirements for system being developed.
          .form-group
            div
             p Is the system a distributed system which was developed on multiple platforms and required communication between the subsystems/components be based on network protocals, events, or remote procedural calls? 
            label.control-label(for='distributed_system') Distributed System
=======
            p Please provide the ratings for the 13 technical technical factors, which are the techical rerquirements for system being developed.
          .form-group
            div
              p Is the system a distributed system which was developed on multiple platforms and required communication between the subsystems/components be based on network protocals, events, or remote procedural calls?
            label.control-label(style='text-align:left', for='distributed_system') Distributed System
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#distributed_system.form-control(name='distributed_system')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p Is the system a distributed system which was developed on multiple platforms and required communication between the subsystems/components be based on network protocals, events, or remote procedural calls?
            label.control-label(for='response_time') Response time or throughput performance objectives
=======
              p Is the system a distributed system which was developed on multiple platforms and required communication between the subsystems/components be based on network protocals, events, or remote procedural calls?
            label.control-label(style='text-align:left', for='response_time') Response time or throughput performance objectives
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#response_time.form-control(name='response_time')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, does the target system have to meet the required response time and throughput performance objectives?
            label.control-label(for='end_user_efficiency') End user efficiency
=======
              p To what degree, does the target system have to meet the required response time and throughput performance objectives?
            label.control-label(style='text-align:left', for='end_user_efficiency') End user efficiency
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#end_user_efficiency.form-control(name='end_user_efficiency')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, does the target system have to meet the required end user efficiency?
            label.control-label(for='complex_internal_processing') Complex internal processing
=======
              p To what degree, does the target system have to meet the required end user efficiency?
            label.control-label(style='text-align:left', for='complex_internal_processing') Complex internal processing
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#complex_internal_processing.form-control(name='complex_internal_processing')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree of difficulty, the internal processing should be rated?
            label.control-label(for='code_must_be_reusable') Code must be reusable
=======
              p To what degree of difficulty, the internal processing should be rated?
            label.control-label(style='text-align:left', for='code_must_be_reusable') Code must be reusable
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#code_must_be_reusable.form-control(name='code_must_be_reusable')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the code should be reusable?
            label.control-label(for='easy_to_install') Easy to install
=======
              p To what degree, the code should be reusable?
            label.control-label(style='text-align:left', for='easy_to_install') Easy to install
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#easy_to_install.form-control(name='easy_to_install')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to be easy to be installed?
            label.control-label(for='easy_to_use') Easy to use
=======
              p To what degree, the system has to be easy to be installed?
            label.control-label(style='text-align:left', for='easy_to_use') Easy to use
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#easy_to_use.form-control(name='easy_to_use')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to be easy to use?
            label.control-label(for='portable') Portable
=======
              p To what degree, the system has to be easy to use?
            label.control-label(style='text-align:left', for='portable') Portable
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#portable.form-control(name='portable')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to be able to handle concurrent requests or processes?
            label.control-label(for='easy_to_change') Easy to change
=======
              p To what degree, the system has to be able to handle concurrent requests or processes?
            label.control-label(style='text-align:left', for='easy_to_change') Easy to change
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#easy_to_change.form-control(name='easy_to_change')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to be able to handle concurrent requests or processes?
            label.control-label(for='concurrent') Concurrent
=======
              p To what degree, the system has to be able to handle concurrent requests or processes?
            label.control-label(style='text-align:left', for='concurrent') Concurrent
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#concurrent.form-control(name='concurrent')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to achieve special security objectives?
            label.control-label(for='includes_special_security_objectives') Includes special security objectives
=======
              p To what degree, the system has to achieve special security objectives?
            label.control-label(style='text-align:left', for='includes_special_security_objectives') Includes special security objectives
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#includes_special_security_objectives.form-control(name='includes_special_security_objectives')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the system has to provide access for third parties?
            label.control-label(for='provides_direct_access_for_third_parties') Provides direct access for third parties
=======
              p To what degree, the system has to provide access for third parties?
            label.control-label(style='text-align:left', for='provides_direct_access_for_third_parties') Provides direct access for third parties
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#provides_direct_access_for_third_parties.form-control(name='provides_direct_access_for_third_parties')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, special user training facilities have to provided for the end users?
            label.control-label(for='special_user_training_facilities_are_required') Special user training facilities are required
=======
              p To what degree, special user training facilities have to provided for the end users?
            label.control-label(style='text-align:left', for='special_user_training_facilities_are_required') Special user training facilities are required
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#special_user_training_facilities_are_required.form-control(name='special_user_training_facilities_are_required')
              option 1
              option 2
              option 3
              option 4
              option 5
          input#uuid_page2(type='hidden', name='uuid_page2', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(1)') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(3)') Next >
        // Page 3
        #page3.hidden
          .alert.alert-info Environmental Factors
          div
<<<<<<< HEAD
           p Please provide the ratings for the 8 environmental factors, which are the general descriptions about the environments where system was developed.
          .form-group
            div
             p Are the personnel familar with the development process?
            label.control-label(for='familiar_with_the_project_model_that_is_used') Familiar with the development process that is used
=======
            p Please provide the ratings for the 8 environmental factors, which are the general descriptions about the environments where system was developed.
          .form-group
            div
              p Are the personnel familar with the development process?
            label.control-label(style='text-align:left', for='familiar_with_the_project_model_that_is_used') Familiar with the development process that is used
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#familiar_with_the_project_model_that_is_used.form-control(name='familiar_with_the_project_model_that_is_used')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p Did the developers have related experience of developing this type of applications?
            label.control-label(for='application_experience') Application experience
=======
              p Did the developers have related experience of developing this type of applications?
            label.control-label(style='text-align:left', for='application_experience') Application experience
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#application_experience.form-control(name='application_experience')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p Did the developers have related experience of developing object-oriented applications?
            label.control-label(for='object_oriented_experience') Object-oriented experience
=======
              p Did the developers have related experience of developing object-oriented applications?
            label.control-label(style='text-align:left', for='object_oriented_experience') Object-oriented experience
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#object_oriented_experience.form-control(name='object_oriented_experience')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the lead analyst of the team should be rated?
            label.control-label(for='lead_analyst_capability') Lead analyst capability
=======
              p To what degree, the lead analyst of the team should be rated?
            label.control-label(style='text-align:left', for='lead_analyst_capability') Lead analyst capability
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#lead_analyst_capability.form-control(name='lead_analyst_capability')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the whole team is motived for the project?
            label.control-label(for='motivation') Motivation
=======
              p To what degree, the whole team is motived for the project?
            label.control-label(style='text-align:left', for='motivation') Motivation
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#motivation.form-control(name='motivation')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p Are the requiremenst stable over time?
            label.control-label(for='stable_requirements') Stable requirements
=======
              p Are the requiremenst stable over time?
            label.control-label(style='text-align:left', for='stable_requirements') Stable requirements
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#stable_requirements.form-control(name='stable_requirements')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what percentage, the team has part-time stafff?
            label.control-label(for='part_time_staff') Part-time staff
=======
              p To what percentage, the team has part-time stafff?
            label.control-label(style='text-align:left', for='part_time_staff') Part-time staff
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#part_time_staff.form-control(name='part_time_staff')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            div
<<<<<<< HEAD
             p To what degree, the chosen programming language are diffficulty to the development team?
            label.control-label(for='difficult_programming_language') Difficult programming language
=======
              p To what degree, the chosen programming language are diffficulty to the development team?
            label.control-label(style='text-align:left', for='difficult_programming_language') Difficult programming language
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            select#difficult_programming_language.form-control(name='difficult_programming_language')
              option 1
              option 2
              option 3
              option 4
              option 5
          input#uuid_page3(type='hidden', name='uuid_page3', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(2)') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(4)') Next >
        // Page4
        #page4.hidden
          .alert.alert-info Project model file and documents
          .form-group
<<<<<<< HEAD
            label.control-label.col-xs-4(for='project_plans') Project Plans
            .col-xs-8
              input#uml_file.form-control(type='file', name='project_plans', accept='text/xml')
              p Project plans can include descriptions of milestones, assigned tasks, Jira ticket records, bug reports, sprints records, etc.
          .form-group
            label.control-label.col-xs-4(for='requirements') Requirements
            .col-xs-8
              input#uml_file.form-control(type='file', name='requirements', accept='text/xml')
              p A list of functional/non-functional requirements for the project.
          .form-group
            label.control-label.col-xs-4(for='use_cases') Use Cases
            .col-xs-8
              input#uml_file.form-control(type='file', name='use_cases', accept='text/xml')
              p A list of use cases that drived from requirements to describe the high-level system functions. An exmaple of use case records can be found from here
               a(href="./docs/UseCaseDataTemplate_umlx_2018_5_8.csv") link.
          .form-group
            label.control-label.col-xs-4(for='uml_file') Design/Model File
=======
            label.control-label(style='text-align:left').col-xs-4(for='project_plans') Project Plans
            .col-xs-8
              input#project_plans.form-control(type='file', name='project_plans', accept='text/xml')
              p Project plans can include descriptions of milestones, assigned tasks, Jira ticket records, bug reports, sprints records, etc.
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='requirements') Requirements
            .col-xs-8
              input#requirements.form-control(type='file', name='requirements', accept='text/xml')
              p A list of functional/non-functional requirements for the project.
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='use_cases') Use Cases
            .col-xs-8
              input#use_cases.form-control(type='file', name='use_cases', accept='text/xml')
              p A list of use cases that drived from requirements to describe the high-level system functions. An exmaple of use case records can be found from here
                a(href="./docs/UseCaseDataTemplate_umlx_2018_5_8.csv") link.
          .form-group
            label.control-label(style='text-align:left').col-xs-4(for='uml_file') Design/Model File
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            .col-xs-8
              input#uml_file.form-control(type='file', name='uml_file', accept='text/xml')
              p Design files that describe the design/architecture of the system.
          .form-group
<<<<<<< HEAD
            label.control-label.col-xs-4(for='uml_other') Other Documents
=======
            label.control-label(style='text-align:left').col-xs-4(for='uml_other') Other Documents
>>>>>>> 55489f46d7e60656e44bb48fbdfef707f74bf57d
            .col-xs-8
              input#uml_other.form-control(type='file', name='uml_other')
              p Other docments that reveal information about the system or project management decisions/practices, If availabe, source code of the project can be of great help too.
          input#uuid_page4(type='hidden', name='uuid_page4', value='')
          input#survey_date(type='hidden', name='survey_date', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(3)') < Previous
              button.btn.btn-success.pull-right(type='submit') Submit
    script(type='text/javascript').
        document.getElementById("uuid_page1").value = uuidv4();
        document.getElementById("uuid_page2").value = uuidv4();
        document.getElementById("uuid_page3").value = uuidv4();
        document.getElementById("uuid_page4").value = uuidv4();
        document.getElementById("survey_date").value = new Date();
    script(type = 'text/javascript', src = 'http://code.jquery.com/jquery-1.9.1.min.js')
    script(type = 'text/javascript', src = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type = 'text/javascript', src = 'https://code.highcharts.com/highcharts.src.js')
    script(type = 'text/javascript', src = 'http://d3js.org/d3.v4.min.js')
    script(type = 'text/javascript', src = 'js/scripts.js')
    script(type = 'text/javascript', src = 'http://wzrd.in/standalone/uuid%2Fv4@latest')

    script.
      function showPage(pageNumer) {
        var uuid = "";
        for (var i = 1; i <= 4; i++) {
            var uuidElementName = "uuid_page" + pageNumer;
            var classList = document.getElementById("page" + i).classList;
            if (i != pageNumer) {
                classList.add("hidden");
            } else {
                uuid = document.getElementById(uuidElementName).value;
                classList.remove("hidden");
            }
        }
        send_analytics_data(uuid, ipAdress, pageNumer);
      }

      var ipAdress = "localhost--";

      document.addEventListener("DOMContentLoaded", function (event) {
          $.getJSON("https://api.ipify.org/?format=json", function (data) {
              //console.log("IP Address received");
              ipAdress = data.ip;
          });
      });