html
  head
    title UMLx
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='https://code.highcharts.com/highcharts.src.js')
    script(type='text/javascript', src='http://d3js.org/d3.v4.min.js')
    script(type='text/javascript', src='js/scripts.js')
    script(type='text/javascript', src='http://wzrd.in/standalone/uuid%2Fv4@latest')
    script.
        function showPage(pageNumer) {
            var uuid = "";
            for (var i = 1; i <= 4; i++) {
                var uuidElementName = "uuid_page"+pageNumer;
                var classList = document.getElementById("page" + i).classList;
                if (i != pageNumer) {
                    classList.add("hidden");
                } else {
                    uuid = document.getElementById(uuidElementName).value;
                    classList.remove("hidden");
                }
            }
            send_analytics_data(uuid, ipAdress, pageNumer);
        }

        var ipAdress = "localhost--";

        document.addEventListener("DOMContentLoaded", function (event) {
            $.getJSON("https://api.ipify.org/?format=json", function (data) {
                //console.log("IP Address received");
                ipAdress = data.ip;
            });
        });


  body#upload-body
    include banner
    .container
      h2  Project Survey
      form#model-file-submit-form.form-horizontal(novalidate='', method='post', action='/uploadSurveyData', enctype='multipart/form-data' )
        // Page1
        #page1
          .alert.alert-info Project Information
          .form-group
            label.control-label.col-xs-4(for='uml_model_name') Project Name
            .col-xs-8
              input#uml_model_name.form-control(type='text', placeholder='Project Name', name='uml_model_name')
          input#uml_model_type(type='hidden', name='uml_model_type', value='uml')
          input#repo_id(type='hidden', name='repo_id', value='598c93a9a9813b12105c953e')
          .form-group
            label.control-label.col-xs-4(for='project_desc') Project Description
            .col-xs-8
              textarea#project_desc.form-control(rows='5', name='project_desc', placeholder='Project description')
          .form-group
            label.control-label.col-xs-4(for='project_effort') Effort
            .col-xs-8
              input#project_effort.form-control(type='text', placeholder='Effort', name='project_effort')
          .form-group
            label.control-label.col-xs-4(for='project_duration') Duration
            .col-xs-8
              input#project_duration.form-control(type='text', placeholder='Duration', name='project_duration')
          .form-group
            label.control-label.col-xs-4(for='project_personnel') Duration
            .col-xs-8
              input#project_duration.form-control(type='text', placeholder='Personnel', name='project_personnel')
          .form-group
            label.control-label.col-xs-4(for='organization_name') Organization/Personal Name
            .col-xs-8
              input#organization_name.form-control(type='text', placeholder='Organization Name or Personal Name', name='organization_name')
          .form-group
            label.control-label.col-xs-4(for='email') Contact Email
            .col-xs-8
              input#email.form-control(type='text', placeholder='Contact Email', name='email')
          input#uuid_page1(type='hidden', name='uuid_page1', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.disabled.pull-left(type='button') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(2)') Next >
        // Page 2
        #page2.hidden
          .alert.alert-info Technical Complexity Factor
          .form-group
            label.control-label(for='distributed_system') Distributed System
            select#distributed_system.form-control(name='distributed_system')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='response_time') Response time or throughput performance objectives
            select#response_time.form-control(name='response_time')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='end_user_efficiency') End user efficiency
            select#end_user_efficiency.form-control(name='end_user_efficiency')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='complex_internal_processing') Complex internal processing
            select#complex_internal_processing.form-control(name='complex_internal_processing')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='code_must_be_reusable') Code must be reusable
            select#code_must_be_reusable.form-control(name='code_must_be_reusable')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='easy_to_install') Easy to install
            select#easy_to_install.form-control(name='easy_to_install')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='easy_to_use') Easy to use
            select#easy_to_use.form-control(name='easy_to_use')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='portable') Portable
            select#portable.form-control(name='portable')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='easy_to_change') Easy to change
            select#easy_to_change.form-control(name='easy_to_change')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='concurrent') Concurrent
            select#concurrent.form-control(name='concurrent')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='includes_special_security_objectives') Includes special security objectives
            select#includes_special_security_objectives.form-control(name='includes_special_security_objectives')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='provides_direct_access_for_third_parties') Provides direct access for third parties
            select#provides_direct_access_for_third_parties.form-control(name='provides_direct_access_for_third_parties')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='special_user_training_facilities_are_required') Special user training facilities are required
            select#special_user_training_facilities_are_required.form-control(name='special_user_training_facilities_are_required')
              option 1
              option 2
              option 3
              option 4
              option 5
          input#uuid_page2(type='hidden', name='uuid_page2', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(1)') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(3)') Next >
        // Page 3
        #page3.hidden
          .alert.alert-info Environmental Factors
          .form-group
            label.control-label(for='familiar_with_the_project_model_that_is_used') Familiar with the project model that is used
            select#familiar_with_the_project_model_that_is_used.form-control(name='familiar_with_the_project_model_that_is_used')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='application_experience') Application experience
            select#application_experience.form-control(name='application_experience')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='object_oriented_experience') Object-oriented experience
            select#object_oriented_experience.form-control(name='object_oriented_experience')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='lead_analyst_capability') Lead analyst capability
            select#lead_analyst_capability.form-control(name='lead_analyst_capability')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='motivation') Motivation
            select#motivation.form-control(name='motivation')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='stable_requirements') Stable requirements
            select#stable_requirements.form-control(name='stable_requirements')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='part_time_staff') Part-time staff
            select#part_time_staff.form-control(name='part_time_staff')
              option 1
              option 2
              option 3
              option 4
              option 5
          .form-group
            label.control-label(for='difficult_programming_language') Difficult programming language
            select#difficult_programming_language.form-control(name='difficult_programming_language')
              option 1
              option 2
              option 3
              option 4
              option 5
          input#uuid_page3(type='hidden', name='uuid_page3', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(2)') < Previous
              button.btn.btn-success.pull-right(type='button', onclick='showPage(4)') Next >
        // Page4
        #page4.hidden
          .alert.alert-info Project model file and documents
          .form-group
            label.control-label.col-xs-4(for='uml_file') Model File (file types: xml are supported)
            .col-xs-8
              input#uml_file.form-control(type='file', name='uml_file', accept='text/xml')
          .form-group
            label.control-label.col-xs-4(for='uml_other') Other Documents (file types: zip, rar, tar are supported)
            .col-xs-8
              input#uml_other.form-control(type='file', name='uml_other')
          input#uuid_page4(type='hidden', name='uuid_page4', value='')
          input#survey_date(type='hidden', name='survey_date', value='')
          .form-group
            .col-sm-offset-2.col-xs-8
              button.btn.btn-default.pull-left(type='button', onclick='showPage(3)') < Previous
              button.btn.btn-success.pull-right(type='submit') Submit
    script(type='text/javascript').
        document.getElementById("uuid_page1").value = uuidv4();
        document.getElementById("uuid_page2").value = uuidv4();
        document.getElementById("uuid_page3").value = uuidv4();
        document.getElementById("uuid_page4").value = uuidv4();
        document.getElementById("survey_date").value = new Date();
