doctype html
html(lang='en')
  head
    title Thank You
  body
    h1 Thank You for taking the survey
    #container.col
      p
        | You can go to the home page by clicking 
        a(href='/') here
