doctype html
html(lang='en')
  head
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(type='text/javascript', src='js/scripts.js')
    script(type='text/javascript', src='js/scripts.js')
    link(href='css/style.css', rel='stylesheet')
    title User List
  body
    include banner
    h1 User List
    #container.col
     if users
      each user in users
       div
        a(href="deleteUser?uid="+user._id) #{user.username}