doctype html
html
head
title=title
body
    h1 cvResults

    table(style='width:60%', border='1')
      thead
        tr
          th accuracy_metrics
          th goodness_fit_metrics  
      tbody
        tr      
            td                  
                a(href='/queryByName/cvResults/accuracy_metrics') accuracy_metrics
            td 
                a(href='/queryByName/cvResults/goodness_fit_metrics') goodness_fit_metrics
                    
              
      
      