.user-icon{
	width:64px;
}

.user-profile-box{
	position:relative;
	float:left;
	margin-left:20px;
	margin-top:10px
}

.user-content{
	display:inline
}

.row-item{
	 position:relative;
	 float:left;
}

.user-content .header{
	font-weight: 600;
    font-size: 1.28571429em;
}

.user-content div{
    margin-left: 10px;
    line-height: 1.2857em;
}

.grid-row {
}

.clear{
	clear:both;
}

#dash-board-panel {
	margin:0;
}

#code-review-panel {
	margin:0;
}

#notification-panel .critical{
	background-color: rgb(255, 148, 148);
}

#notification-panel .minor{
	background-color: rgb(255, 248, 170);
}

#notification-panel .passed{
    background-color: rgb(169, 251, 194);
}

.right{
	position:relative;
	float:right;
}

.status-critical{
	color:rgba(253, 74, 75, 1) !important;
}

.status-minor{
	color:#ffff21 !important;
}

.status-ready{
	color:#74fd74 !important;
}

.comment-dropdown{
	float:right !important;
}

.comment-block{
	margin: 0 auto;
}

.circle {
    position: relative;
    width: 10px;
    height: 0;
    padding: 5px 0;
    border-radius: 50%;
/* Just making it pretty */
@shadow: rgba(0, 0, 0, .1);
@shadow-length: 4px;
-webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
box-shadow: 0 @shadow-length 0 0 @shadow;
text-shadow: 0 @shadow-length 0 @shadow;
   background: #000;
   color: white;
   font-family: "josefin sans", Arial Black, sans;
   font-size: 20px;
   }
   
   
.status-critical-circle{
	background-color:rgba(253, 74, 75, 1) !important;
}

.status-minor-circle{
	background-color:#ffff21 !important;
}

.avatar img{
	display: inline-block;
    margin: 0 auto;
    width: 36px;
    border-radius: .25rem;
}
.status-ready-circle{
	background-color:#74fd74 !important;
}

.comment-box{
	margin-top:35px;
}

.comment-box-left-column{
	float:left;
}

#commits-panel .dimmer {
    background-color: rgba(255,255,255,.9) !important;
    color: black;
}

#commits-panel .dimmer .content a{
    color: black !important;
}

.comment-box-right-column{
	float:left;
	margin-left:20px
}

.comment-box-right-column form {
	width: 570px;
}