/callgraph.json
/commands.txt
/compositiongraph.json
/debug_info.txt
/extendsgraph.json
/flowdroid-callback-methods.txt
/gator-callback-methods.txt
/gator-handlers.txt
/libs/
/package-suffice.json
/soot-callgraph-1.json
/soot-cfg-2.json
/soot-cfg.txt
/soot-cfg1.txt
/soot-cfg_cg_ha.txt
/soot-cfg_spark.txt
/soot-cfg_start.txt
/soot-classes.txt
/static-cfg-FlowDroidAliasActivity.txt
/static-cfg-alltheapps.json
/org/
/static-cfg-app-noApp-noDestory.json
/test-soot-infoflow-android-2-17.txt
/tools/
/typedependencygraph.json
